.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider_area{
  max-width: 767px;
  margin: 0 auto;
  position: relative;
}

.btn{
  background: dodgerblue;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev_btn{
  left: 0;
}

.next_btn{
  right: 0;
}

.btn svg{
  color: #fff;
}


.carosuel-dots button{
  margin: 5px;
  background: transparent;
  border: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.carosuel-dots button:focus{
  outline: none;
  box-shadow: none;
}

.carosuel-dots button span{
  height: 15px;
  width: 15px;
  display: block;
  background: #e6e6e6;
  border-radius: 100%;
}

.carosuel-dots button.active span{
  background: dodgerblue;
}